**
!server/
!server/**
!web/
!web/**
!LICENSE
!NOTICE
!THIRD_PARTY_NOTICES.md
!LICENSES/
!LICENSES/**
!docs/
!docs/COMPLIANCE.md
!docs/DEPENDENCY_LICENSES.md
!docs/DISTRIBUTION.md
!docs/third-party/
!docs/third-party/**
!docs/covered-source/
!docs/covered-source/**
**/node_modules
**/build
**/dist
**/.gradle
**/.kotlin
**/.env*
